---
import Banner from "./Banner.astro";


---

<section class="container m-auto px-4 flex justify-center w-full">
    <h2>

    </h2>
    <div>

    </div>
    <div class="text-5xl">
        <Banner title={['VIRTUAL','FLAGSHIP','STORES']} img="imgs/app.webp" body={['HD quality, 3D CGI virtual stores, custom designed for brands in every industry--such as Fashion, Beuty, Media & EnterTainment, CPG and more.', "Reimagine engagement through inmersive,3D-rendered 360 experiences."]}></Banner>
    </div>
</section>