---
import LogoFooter from "./LogoFooter.astro";
---

<footer class="">
  <div class="container m-auto p-14 border-t-2">
    <!-- top -->
    <div class="flex justify-center">
      <!-- logo -->
      <LogoFooter size="2em" />
    </div>
    <!-- links -->
    <div class="mt-10 gap-4 flex flex-col md:flex-row md:justify-center md:gap-16 text-gray-400 text-xs font-medium">
      <!-- fashion -->
      <ul class="flex flex-col gap-3">
        <li class="text-black text-lg">FASHION</li>
        <li><a href="#"> About Us </a></li>
        <li><a href="#"> Copyright </a></li>
        <li><a href="#"> Job Hire </a></li>
        <li><a href="#"> Afiliate Program </a></li>
        <li><a href="#"> B2B Digital </a></li>
      </ul>
      <!-- BEAUTY -->
      <ul class="flex flex-col gap-3">
        <li class="text-black text-lg">BEAUTY</li>
        <li><a href="#"> Top up </a></li>
        <li><a href="#"> Credit </a></li>
        <li><a href="#"> Payment </a></li>
        <li><a href="#"> Cash on Delivery </a></li>
      </ul>
      <!-- Culture -->
      <ul class="flex flex-col gap-3">
        <li class="text-black text-lg">CULTURE</li>
        <li><a href="#"> Dyva Care </a></li>
        <li><a href="#"> Term </a></li>
        <li><a href="#"> Security </a></li>
        <li><a href="#"> Mitra </a></li>
      </ul>
      <!-- LIFE & LOVE -->
      <ul class="flex flex-col gap-3">
        <li class="text-black text-lg">LIFE & LOVE</li>
        <li><a href="#"> Seller </a></li>
        <li><a href="#"> Official Store </a></li>
      </ul>
      <!-- HOROSCOPE -->
      <ul class="flex flex-col gap-3">
        <li class="text-black text-lg">HOROSCOPE</li>
        <li><a href="#"> Dyva Case</a></li>
        <li><a href=""> Term </a></li>
        <li><a href=""> Security </a></li>
        <li><a href=""> Partner </a></li>
      </ul>
    </div>
    <!-- bottom -->
    <div
      class="mt-10 flex justify-center gap-x-16 gap-y-4 flex-wrap text-gray-400 text-xs font-medium"
    >
      <p class="text-nowrap">Term of Service | Privacy Policy</p>
      <p>dyva.virtualstorecopyright2023</p>
    </div>
  </div>
</footer>
