---
import { Icon } from "astro-icon/components"
import {Card} from "../components/Card.tsx"
const icons=(icon:String)=>{
  switch (icon) {
    case "arrow":
      return "bitcoin-icons:arrow-right-filled"
      break;
    case "pieChart":
      return "flowbite:chart-pie-outline"
      break;
      case "star":
      return "hugeicons:star"
      break;
      case "scan":
      return "mage:scan" 
      break;
    default:
        return "no encontramos ese icono"
      break;
  }}

---

<main class="flex flex-col">
  <!-- titulo -->
  <h1 class="flex flex-col w-max items-center text-5xl gap-4 py-7 self-center">
    <span class="text-sombra translate-x-[-9rem]">VIRTUAL</span>
    <span class="flex items-center translate-x-10">
      <span class="text-sombra " style="--gap:4em;"> STORE </span>
      <span class="left-[100%] text-sm font-extralight w-[13em] ml-4 bg-white z-10"
        >THE NEXT GENERATION OF E-COMMERCE</span
      ></span
    >
    <span class="text-sombra translate-x-20" style="--gap:5.9em;">PLATFORM</span>
  </h1>
  <!-- cards con imagenes -->
  <section class="container m-auto flex flex-col md:flex-row list-none px-4 gap-8 gap-y-4 box-border my-4 md:h-72 md:max-h-72">
    <Card imgCss="max-h-72 h-72 bg-gray-100 rounded-2xl" title={[]} body={["Higher time spent than traditional e-commerce for a leading Consumer Goods Brand"]} img="/imgs/wall-ceil.webp" >
      <Icon name={icons("arrow")} class="text-2xl text-gray-600"/>
    </Card>
    <Card imgCss="max-h-72 h-72 bg-gray-100 rounded-2xl" title={[]} body={[]} img="imgs/jeans-tshirt.webp">
      <Icon name={icons("arrow")} class="text-2xl text-gray-600 "/>
    </Card>
    <Card imgCss="max-h-72 h-72 bg-gray-100 rounded-2xl" type={1} title={["ALVA STONE",",SVP OF GLOBAL VISUAL EXPERIENCE"]} body={["People are looking for more than just products on a shelf.","They want to learn about our brand's story, the narrative. ","That's what we've built with Obsess."]} >
      <Icon name={icons("arrow")} class="text-2xl text-gray-600"/>
    </Card>
  </section>
  <!-- card largeImage -->
  <section class="my-4 container m-auto flex list-none px-4 h-80">
    <Card imgCss="max-h-96 h-96" title={[]} body={[]} img="imgs/clothes.webp">
      <Icon name={icons("arrow")} class="text-xl text-gray-600"/>
    </Card>
  </section>
</main>

<style>
  .text-sombra {
    --gap: 5em;
    --color: rgba(0, 0, 0, 0.05);
    filter: drop-shadow(calc(var(--gap)) 0 0 var(--color))
      drop-shadow(calc(var(--gap) * -1) 0 0 var(--color))
      drop-shadow(calc(var(--gap) + var(--gap)) 0 0 var(--color))
      drop-shadow(calc((var(--gap) + var(--gap)) * -1) 0 0 var(--color))
      drop-shadow(calc(var(--gap) + var(--gap) * 2) 0 0 var(--color))
      drop-shadow(calc((var(--gap) + var(--gap) * 2) * -1) 0 0 var(--color))
      drop-shadow(calc(var(--gap) + var(--gap) * 3) 0 0 var(--color))
      drop-shadow(calc((var(--gap) + var(--gap) * 3) * -1) 0 0 var(--color))
      drop-shadow(calc(var(--gap) + var(--gap) * 4) 0 0 var(--color))
      drop-shadow(calc((var(--gap) + var(--gap) * 4) * -1) 0 0 var(--color));
  }
</style>
