<div class="w-max font-normal text-2xl flex items-center gap-2">
    DYVA
    <span class="font-normal text-[.4em] w-[12em] block h-min m-0 leading-tight">
        THE NEXT GENERATION OF E-COMMERCE
    </span>
</div>