---
const {size} =Astro.props
---
<div class="w-max font-normal text-2xl flex items-center gap-2" style={"font-size:"+size+";"}>
    DYVA
    <span class="font-normal text-[.4em] w-[14em] block h-min m-0 leading-tight text-gray-400">
        THE NEXT GENERATION OF E-COMMERCE
    </span>
</div>