---
import { Icon } from "astro-icon/components";
import Logo from "../components/Logo.astro";
---
<div class="w-full border-b-2 border-gray-400 flex justify-center">
  <nav class="container w-full p-3 flex items-center justify-between ">
    <Logo />
    <ul class="nav md:flex text-sm lg:w-2/5 lg:justify-between gap-4 hidden">
      <li><a href="#"> FASHION </a></li>
      <li><a href="#"> BEAUTY </a></li>
      <li><a href="#"> CULTURE </a></li>
      <li><a href="#" class="text-nowrap"> LIFE & LOVE </a></li>
      <li><a href="#"> HOROSCOPE </a></li>
    </ul>
    <button class="bg-gray-200 rounded-lg p-2 text-sm  text-nowrap flex items-center gap-2">
      BOOK A DEMO <Icon name="bitcoin-icons:arrow-right-filled" size={12}/>
    </button>
  </nav>
</div>
