---

const reviews=[
    {
        user:'ESTHER HOWARD',
        cargo:"VICE PRESIDENT OF MARKETING",
        body:" It takes five to seven touchpoints with the American Girl brand before a customer makes a purchase. That's why having rich virtual content it worth investing in..it adds another interactive elements to or brand"
    },
    {
        user:'KRISTIN WHATSON',
        cargo:"CHEF GROWTH & TECHNOLOGY OFFICER",
        body:"It takes five to seven touchpoints with the American Girl brand before a customer makes a purchase. That's why having rich virtual content it worth investing in..it adds another interactive elements to or brand"
    },
    {
        user:'ANGELLO THORNE',
        cargo:"SOFTWARE INGENIER",
        body:"It takes five to seven touchpoints with the American Girl brand before a customer makes a purchase. That's why having rich virtual content it worth investing in..it adds another interactive elements to or brand"
    },
    {
        user:'BRENDA PEREDA',
        cargo:"ARCHITECT",
        body:"Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem in eveniet, fugiat fugit ipsa maiores aperiam et! Quia labore corrupti voluptatem debitis odit modi? Itaque velit ipsa minima labore dolores."
    },

]
---

<section class=" border-t-2 border-b-2 py-14 overflow-x-hidden relative">
    <!-- button back -->
    <button aria-details="button back" class="absolute top-0 bottom-0 w-1/6 md:w-2/6 z-10">
    </button>
    <!-- button next -->
    <button aria-details="button back" class="absolute top-0 bottom-0 right-0 w-1/6 md:w-2/6 z-10">
    </button>
    <div class="flex translate-x-[calc(-50%-2.3rem)] lg:translate-x-[calc(-18%-2.3rem)]">
    {reviews.map(
        ({user,cargo,body})=>
        <div class="flex flex-col gap-5 mr-10 odd:text-gray-500 min-w-[66%] lg:min-w-[45%] pointer-events-none">
            <h2 class="text-xs w-[12.9rem]">
                {user},
                <span class="text-gray-500">
                    {cargo}
                </span>
            </h2>
            <p class="md:text-xl">
                {body}
            </p>
        </div>
    )}
    </div>
</section>